@model ProyASPNetCoreAdmin.Models.Administradore

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Administradore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContraseñaAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContraseñaAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Run)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Run)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAdmin">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
